$c-primary: #ec5242;
$c-primary-bright: #ff432f;
$c-secondary: #272a31;
$c-background: #d3d3d3;

body {
  font-family: "Lato", sans-serif;
  // background-color: $c-background;
}

.heading {
  color: $c-primary;
}

.heading-sub {
  font-weight: 600;
  background-color: #f3ec78;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(203, 100, 92, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sub-heading {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $c-background;
}

.card-img {
  width: 3rem;
  height: 3rem;
}

.card-title {
  color: $c-primary-bright;
}

.card-subtitle {
  color: $c-background;
  text-align: center;
}

.content {
  background: url("assets/bg.png");
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.featured-img {
  max-width: 10rem;
  max-height: 10rem;
  padding: 1rem 0;
  object-fit: cover;
}

.featured-img-col:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
  background: repeating-conic-gradient($c-background 0% 25%, transparent 0% 50%)
    50% / 0.8rem 0.8rem;
}

.featured-content > hr {
  width: 15%;
  color: $c-background;
  border-bottom: 0.15rem solid $c-background;
}

.featured-title {
  font-weight: 600;
}

.featured-sub {
  color: $c-primary;
}

.featured-desc {
  font-size: 1rem;
}

.content-card {
  background-color: $c-secondary;
  opacity: 0.75;
}
