$c-primary: #ec5242;
$c-primary-bright: #ff432f;
$c-secondary: #272a31;
$c-background: #d3d3d3;

body {
  font-family: "Lato", sans-serif;
  // background-color: $c-background;
}

.heading {
  color: $c-primary;
}

.logo {
  width: 2.65rem;
}

.heading-sub {
  font-weight: 600;
  background-color: #f3ec78;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(203, 100, 92, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sub-heading {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $c-background;
}

.card-img {
  width: 3rem;
  height: 3rem;
}

.card-title {
  color: $c-primary-bright;
}

.card-subtitle {
  color: $c-background;
  text-align: start;
}

.content {
  background: url("assets/bg.png");
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.featured-img {
  // width: auto;
  // height: auto;
  // max-width: 12rem;
  // max-height: 12rem;
  width: 100%;
  // height: 100%;
  padding: 1rem 0;
  object-fit: cover;
}

.featured-content > hr {
  width: 15%;
  color: $c-background;
  border-bottom: 0.15rem solid $c-background;
}

.featured-title {
  font-weight: 600;
}

.featured-sub {
  color: $c-primary;
}

.featured-desc {
  font-size: 1rem;
}

.content-card {
  background-color: $c-secondary;
  opacity: 0.75;
}

.featured-img-col:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
  background: repeating-conic-gradient($c-background 0% 25%, transparent 0% 50%)
    50% / 0.8rem 0.8rem;
}

.partner {
  background-color: $c-background;
}

.featured-flex {
  flex: 30%;
}

.partner-imgs {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.partner-imgs img {
  aspect-ratio: 1 / 1;
}

.navbar-right-btn {
  border: 5px solid $c-primary;
}

.about-header {
  color: $c-primary;
}

.about-logo {
  border: 1px solid $c-background;
  width: 50%;
}

.about-section-hr {
  width: 95vw;
  color: $c-background;
  border-bottom: 0.15rem solid $c-background;
}

.red-hr {
  width: 10%;
  color: $c-primary-bright;
  border-bottom: 0.15rem solid $c-primary-bright;
}

.past-event-divs {
  background-color: $c-primary;
}

.footer-dark {
  background-color: $c-secondary;
}
// @media only screen and (min-width: 576px) {
//   .featured-img {
//     max-width: 1rem;
//     max-height: 14rem;
//   }
// }

@media only screen and (min-width: 768px) {
  .card-subtitle {
    text-align: center;
  }
  // .featured-img {
  //   max-width: 14rem;
  //   max-height: 14rem;
  // }
  .featured-cards {
    width: 80%;
  }

  .featured-flex {
    flex: 20%;
  }

  .custom-nav {
    flex-basis: content !important;
    justify-content: end;
  }
}

@media only screen and (min-width: 992px) {
  .partner-imgs {
    width: 75%;
  }
}
