/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable property-no-vendor-prefix */

$c-primary: #ec5242;
$c-primary-bright: #ff432f;
$c-secondary: #272a31;
$c-secondary-grey: #808080;
$c-background: #e7e7e7;
$c-background-light: #f7f7f7;
$c-chess-com: #769656;

* {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
}

.main-header {
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
}

.heading {
  color: $c-primary;
}

.main-bg {
  position: relative;
  margin-top: 6rem;
}

.w-90 {
  width: 90%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.mobile-width {
  width: 60%;
}

.main-bg::before {
  content: "";
  position: absolute;
  height: 125%;
  width: 100%;
  top: -3rem;
  background: url("../assets/chess-bg.svg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: opacity(0.2);
  background-position-x: center;
  overflow-y: hidden;
}

.logo {
  width: 2rem;
}

.disable-default {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.disable-default-link,
.disable-default-link:hover,
.disable-default-link:focus,
.disable-default-link:active {
  text-decoration: none;
  color: inherit;
}

.topnav {
  background-color: #272a31;
  height: 1.875rem;
  opacity: 0.9;
}

.topnav-ul {
  width: 40%;
}

.topnav-item:hover {
  opacity: 0.7;
}

.heading-sub {
  font-weight: 600;
  background: linear-gradient(
    45deg,
    rgba(255, 25, 31, 0.6),
    rgba(187, 10, 15, 0.7),
    rgba(236, 82, 66, 0.8)
  ),
    url("../assets/abstract-2.jpg");
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sub-heading {
  border: 1px solid $c-background;
  max-width: 50rem;
}

.sub-heading-home {
  background-color: $c-background;
}

.sub-heading-about {
  background-color: white;
}

.about-container {
  background-color: $c-background-light;
}

.card-img {
  width: 3rem;
  height: 3rem;
}

.card-title {
  color: $c-primary-bright;
  min-width: 5rem;
}

.card-subtitle {
  color: $c-background;
  text-align: start;
}

.content {
  background: url("../assets/bg.png");
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.featured-img {
  height: fit-content;
  width: 80%;
  max-height: 80%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.featured-content > hr {
  width: 15%;
  color: $c-background;
  border-bottom: 0.15rem solid $c-background;
}

.featured-title {
  font-weight: 600;
  word-break: break-all;
  font-size: 1.2rem;
}

.featured-sub {
  color: $c-primary;
}

.featured-desc {
  font-size: 1rem;
}

.featured-img-col {
  position: relative;
}

.featured-img-col::before {
  content: "";
  position: absolute;
  left: 0%;
  top: -1rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
  background: repeating-conic-gradient(
    $c-secondary-grey 0% 25%,
    transparent 0% 50%
  )
    50% / 1rem 1rem;
}

.partner {
  background-color: $c-secondary;
}

.featured-flex {
  flex: 30%;
}

.partner-imgs {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.partner-imgs img {
  aspect-ratio: 1 / 1;
}

.navbar-right-btn {
  border: 5px solid $c-primary;
  color: $c-primary;
  cursor: pointer;
  transition: all 0.25s;
}

.navbar-right-btn:hover {
  background-color: $c-primary;
  color: white;
}

.navbar-right-btn:active {
  border: 5px solid darkred;
  background-color: darkred;
}

.about-header {
  color: $c-primary;
  font-size: 2.5rem;
}

.about-logo {
  border: 1px solid $c-background;
  width: 50%;
}

.about-section-hr {
  width: 95vw;
  color: $c-background;
  border-bottom: 0.15rem solid $c-background;
}

.red-hr {
  width: 10%;
  color: $c-primary-bright;
  border-bottom: 0.15rem solid $c-primary-bright;
}

.past-event-divs {
  position: relative;
  place-content: center;

  h2 {
    z-index: 2;
  }

  h5 {
    z-index: 2;
  }
}

.past-event-divs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: $c-primary-bright;
  opacity: 0.75;
  z-index: 1;
}

.footer-dark {
  background-color: $c-secondary;
}

.join-div {
  background-color: $c-primary;
  cursor: pointer;
}

.content-card {
  background: linear-gradient(
    170deg,
    rgb(58 56 56 / 62.3%) 0%,
    rgb(31 31 31) 100%
  );
  border: 1px solid $c-secondary;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.9;
  margin-left: 1px;
  margin-right: 1px;
}

.footer-p {
  max-width: 30rem;
}

.see-more-btn {
  border: 1px solid $c-background;
  background-color: white;
  position: relative;
}

.see-more-btn::before {
  content: "";
  position: absolute;
  width: 1rem;
  top: 0;
  background: url("../assets/drop-icon-down.svg");
  height: 100%;
  z-index: 5;
  background-repeat: no-repeat;
  background-position: center;
  left: 60%;
}

.see-less-btn::before {
  transform: rotate(-180deg);
}

.hamburger {
  margin-top: 3.5rem;
  margin-left: 1.5rem;
}

.hamburger-container {
  width: 1.875rem;
  height: 1.25rem;
  cursor: pointer;
  position: absolute;
  z-index: 3;
}

.hamburger-container.change > .line-1 {
  transform: translate(0, 6px) rotate(-45deg);
  background-color: #fff;
}

.hamburger-container.change > .line-2 {
  opacity: 0;
  background-color: #fff;
}

.hamburger-container.change > .line-3 {
  transform: translate(0, -12px) rotate(45deg);
  background-color: #fff;
}

.hamburger-container > .line {
  width: 100%;
  height: 0.25rem;
  margin-bottom: 5px;
  background-color: $c-secondary;
  transition: transform 0.5s, opacity 0.4s, background-color 0.75s;
}

.mobile-overlay {
  height: 0;
  width: 0;
  position: fixed;
  background-color: hsla(6deg, 100%, 59%, 0.7);
  z-index: 2;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: height 0.5s;
  backdrop-filter: blur(0.5rem);
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: left;
  margin-left: 1rem;
}

.overlay-content a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.75rem;
  margin-bottom: 1rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.abt-email-link {
  cursor: pointer;
}

.chess-abt-1 {
  background: url("../assets/chess-abt-1.jpg");
}

.chess-abt-2 {
  background: url("../assets/chess-abt-2.jpg");
}

.chess-abt-1,
.chess-abt-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 16 / 9;
}


@media only screen and (max-width: 768px) {
  .links-container {
    display: none !important;
  }

  .logo-link {
    display: none !important;
  }

  .see-prog-div {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .card-subtitle {
    text-align: center;
  }

  .featured-cards {
    width: 80%;
  }

  .featured-flex {
    flex: 20%;
  }

  .custom-nav {
    flex-basis: content !important;
    justify-content: end;
  }

  .about-header {
    font-size: 3rem;
  }

  .content-card:hover {
    border: 1px solid $c-background;
  }

  .main-header {
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 6rem;
    position: inherit;
  }

  .hamburger {
    display: none;
  }

  .join-div {
    display: none;
  }

  .links-container {
    display: flex;
  }

  .header-link:hover {
    color: $c-primary;
    transition: color 0.25s;
  }

  .mobile-width {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .partner-imgs {
    width: 75%;
  }

  .logo {
    margin-left: 4rem;
  }

  .links-container {
    margin-right: 4rem;
  }

  .topnav {
    padding-right: 6.3rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .main-bg::before {
    background-position-y: -16rem;
  }
}
